<div class="content" role="main">
  <!-- Title -->
  <h1>Stepper modal</h1>
  <div class="card-container">
    <a (click)="toggleModal(1)" class="card">
      <i class="material-icons">touch_app</i>
      <span>Open modal</span>
    </a>
  </div>
</div>

<div class="modal-dialog" [ngClass]="{'show-modal': modalStatusClass == 1, 'hide-modal': modalStatusClass == 0}">
  <div class="border-gradient">
    <div>
      <div class="modal-header">
        <a class="close" (click)="toggleModal(0)">
          <i class="material-icons">close</i>
        </a>
        <h2>Engagement Process <span class="stepper-status">Abandoned</span></h2>
        <span class="subtitle">2019 Fall Oncology Advisory Board</span>
      </div>
      <div class="modal-content">
        <ul class="stepper">
          <li class="step" [ngClass]="{visited: step.visited}" *ngFor="let step of stepList">
            <span class="index" *ngIf="!step.visited">{{ step.index }}</span>
            <span class="index" *ngIf="step.visited"><i class="material-icons">check</i></span>
            <p class="step-title">{{ step.title }}</p>
            <p class="step-content" [hidden]="!step.date">
              <small>{{ step.description }}</small
              ><br />
              <small class="date">{{ step.date | date : 'MM/dd/yyyy' }}</small>
            </p>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="secondary-button">Reinstate</button>
        <button class="primary-button">Draft revisions</button>
      </div>
    </div>
  </div>
</div>
